@charset 'utf-8';

.cm-checkbox {
  $this: &;
  display: inline-block;
  text-align: left;
  line-height: 1;

  &__label {
    vertical-align: top;
    position: relative;
    display: inline-block;
    font-size: 0;
    line-height: 1;
    cursor: pointer;

    &::before {
      vertical-align: top;
      display: inline-block;
      border: 1px solid $gray5;
      border-radius: 100%;
      box-sizing: border-box;
      background-color: $gray3;
      content: '';
    }

    &::after {
      display: none;
      width: 6px;
      height: 3px;
      position: absolute;
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      transform: rotate(-45deg);
      content: '';
    }

    > span {
      display: inline-block;
      line-height: 1.5;
    }
  }

  input:checked + &__label {
    &::before {
      border-color: $fblue2;
      background-color: $fblue2;
    }

    &::after {
      display: block;
    }
  }

  // 16 사이즈
  &--16 {
    @extend .cm-checkbox;

    #{$this}__label {
      &::before {
        width: 16px;
        height: 16px;
      }

      &::after {
        top: 5px;
        left: 4px;
      }

      > span {
        padding-left: 4px;
        font-size: 12px;
      }
    }

    // 16 사이즈 disabled
    &--disabled {
      @extend .cm-checkbox--16;

      #{$this}__label {
        cursor: default;

        &::before {
          border-color: $gray4;
          cursor: default;
        }

        > span {
          color: $gray6;
        }
      }

      input:checked + #{$this}__label::before {
        border-color: $gray5;
        background-color: $gray5;
      }
    }
  }

  // 20 사이즈
  &--20 {
    @extend .cm-checkbox;

    #{$this}__label {
      &::before {
        width: 20px;
        height: 20px;
      }

      &::after {
        top: 7px;
        left: 6px;
      }

      > span {
        padding-left: 6px;
        font-size: 14px;
      }
    }

    // 20 사이즈 disabled
    &--disabled {
      @extend .cm-checkbox--20;

      #{$this}__label {
        cursor: default;

        &::before {
          border-color: $gray4;
          cursor: default;
        }

        > span {
          color: $gray6;
        }
      }

      input:checked + #{$this}__label::before {
        border-color: $gray5;
        background-color: $gray5;
      }
    }
  }
}
