$white: #FFFFFF;
$black: #000000;
$fyellow1: #FF923A;
$forange1: #FF5300;
$fblue1: #14AAFF;
$fblue2: #0078FF;
$fred1: #FF0000;
$fred2: #EB0000;
$fpurple1: #886FE2;
$fpurple2: #585C89;

// Gray Scale
$gray1: #F9F9F9;
$gray2: #F5F5F5;
$gray3: #F1F1F1;
$gray4: #EEEEEE;
$gray5: #CCCCCC;
$gray6: #AAAAAA;
$gray7: #777777;
$gray8: #595959;
$gray9: #333333;

// Cool Gray Scale
$cgray1: #FAFAFC;
$cgray2: #F2F3F8;
$cgray3: #E0E1EB;
$cgray4: #CACCD7;
$cgray5: #A5A9B9;
$cgray6: #8A8E9E;
$cgray7: #6E7281;
$cgray8: #494C5D;
$cgray9: #333641;

// Navy Scale
$navy1: #FAFCFF;
$navy2: #F2F5FB;
$navy3: #D9DFEF;
$navy4: #B1C3E3;
$navy5: #6C82B9;
$navy6: #3F558E;
$navy7: #203365;
$navy8: #11214A;
$navy9: #141F3A;

// Cobalt Blue Scale
$cblue1: #F2F5FF;
$cblue2: #E5EAFF;
$cblue3: #CCD8FC;
$cblue4: #7188FC;
$cblue5: #3B3BFD;
$cblue6: #2020B2;
$cblue7: #15159F;
$cblue8: #14147D;
$cblue9: #0A0A4B;

$font-default: "-apple-system", "Apple SD Gothic Neo", "Roboto", "Noto Sans KR", "helvetica", "Gulim", sans-serif;
$font-musinsa: "Musinsa", $font-default;
$font-musinsa-stencil: "Musinsa Stencil", $font-default;
$font-musinsa-italic: "Musinsa Italic", $font-default;
$font-musinsa-round: "Musinsa Round", $font-default;
