@charset 'utf-8';

.guide__label {
  &--like-info {
    &-14 {
      .like {
        &-type01 {
          @include label(
            $display: inline-flex,
            $height: 20px,
            $padding: 0 0 0 5px,
            $borderColor: #4162c9,
            $fontSize: 11px,
            $lineHeight: 18px,
            $backgroundColor: #4162c9,
          );
          &__coupon {
            margin-left: 5px;
            padding: 0 5px;
            background-color: $white;
            color: #4162c9;
            font-family: $font-musinsa;
          }
          &-1 {
            @include label(
              $display: inline-flex,
              $height: 20px,
              $padding: 0 4px,
              $borderColor: #4162c9,
              $fontSize: 11px,
              $lineHeight: 18px,
              $backgroundColor: #4162c9,
            );
          }
        }
      }
    }
  }
}