<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=3,minimum-scale=1,user-scalable=yes,viewport-fit=cover">
  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../assets/css/list.css">
  <title>PC UI개발 목록</title>
</head>
<body>
  <h1>PC UI개발 목록</h1>

  <table>
    <thead>
      <tr>
        <th scope="col">Page</th>
        <th scope="col">2Depth</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody>
      <% _.forEach(fileList, ({directory, files}) => { %>
        <tr class="page">
          <td colspan="4"><%- directory %></td>
        </tr>
        <% _.forEach(files, ({title, subTitle, file}) => { %>
          <tr>
            <td><%- title %></td>
            <td><%- subTitle %></td>
            <td><a href="./html/<%- directory %>/<%- file %>"><%- file %></a></td>
          </tr>
        <% }); %>
      <% }); %>
    </tbody>
  </table>
</body>
</html>