@charset 'utf-8';

.comment-tooltip {
  @include position(absolute, calc(100% + 3px), 0);
  display: none;
  min-width: 110px;
  padding: 10px 15px;
  border: 1px solid #e4e5e6;
  box-sizing: border-box;
  background-color: $white;
  z-index: 1000;
  &.active {
    display: block;
  }
  &__button {
    display: block;
    width: 100%;
    padding: 4px 0 6px;
    text-align: left;
  }
}