@charset 'utf-8';

.main-slide-product {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin: 10px 0 0 10px;
  white-space: nowrap;

  &__item {
    flex: 0 0 auto;
    overflow: hidden;
    width: 100px;
    margin-right: 10px;

    @at-root .product-big & {
      width: 150px;
    }

    > a {
      display: block;
    }

    &:last-child {
      padding-right: 10px;
    }
  }

  &__image {
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 7px;
    background-color: #ccc;

    @at-root .product-big & {
      height: 180px;
    }
  }

  &__more {
    @include position(absolute, 0, null, null, 0);
    display: none;
    width: 100%;
    height: 100%;
    background-color: pink;

    @at-root & {
      &__more {
        display: block;
      }
    }
  }

  &__brand {
    margin-bottom: 1px;
    color: $gray7;
    font-size: 12px;
  }

  &__name {
    @include ellipsis();
    margin-bottom: 10px;
    font-size: 12px;
  }

  &__price-information {
    display: flex;
    justify-content: space-between;
    font-family: "Musinsa", sans-serif !important;
    font-size: 12px;
  }

  &__discount {
    color: $fred1;
    font-size: 12px;
  }
}
