@charset 'utf-8';

.main-event-information {
  display: flex;
  width: calc(100% - 20px);
  margin: 10px auto 0;
  font-family: "Musinsa", sans-serif !important;
  font-size: 14px;

  &__title {
    margin-right: 5px;
    font-family: "Musinsa Italic", sans-serif !important;
    font-weight: 700;
    font-size: 14px;
    color: $cblue5;
  }

  &__area {
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
  }

  &__text {
    margin-right: 5px;
  }

  &__date {
    color: $gray7;
  }

  &__brand {
    align-self: center;
    margin-left: auto;
    padding: 0 6px;
    background-color: $black;
    color: #fff;
  }
}
