@charset "UTF-8";

.main-shopping {
  overflow: hidden;
  padding: 20px 10px;
  text-align: center;
  
	&__button {
		display: block;
		float: left;
		width: 25%;
	}	
	&__text {
		display: block;
		font-size: 12px;
		color: $gray7;
		line-height: 15px;
	}
}