@charset 'utf-8';

.snap-hash {
  font-size: 14px;
  text-align: left;
  cursor: pointer;

  &.color-fblue2 {
    color: $fblue2;
  }

  &.color-gray6 {
    color: $gray6;
  }

  &.active {
    color: $black;
  }
}